.slider .img .content h1 {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    margin-bottom: 60px;
}

.slider .img .content h2 {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.slider .img {
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

.slider .img1 {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://s-media-cache-ak0.pinimg.com/originals/c6/36/32/c63632d906a28ac10c0b0e311c7d2e05.jpg");
}

.slider .img2 {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://www.musttravel.ro/wp-content/uploads/2017/08/a.jpg");
}

.slider .img3 {
    background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://i.ytimg.com/vi/WQVO76h-p7Q/maxresdefault.jpg");
}

.slider .slick-arrow {
    z-index: 5;
}

.slider .slick-prev {
    left: 50px;
}

.slider .slick-next {
    right: 50px;
}

.slider .slick-prev::before {
    opacity: 0;
}

.slider .slick-next::before {
    opacity: 0;
}

body {
    margin: 0px;
}

.section1 {
    background-color: #8d8d8d;
}

nav {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

nav .links a:last-child {
    margin-right: 125px;
}

nav .logo {
    margin-left: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .logo img {
    width: 55px;
    height: 53px;
    margin-right: 13px;
}

nav .logo p {
    font-size: 25px;
    color: #fff;
}

nav .logo p span {
    color: #f00;
}

nav .links {
    font-size: 20px;
}

nav .links a {
    text-decoration:none;
    color:white;
    margin-right: 50px;
    font-size: 15px;
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.slider div h1 span {
    color: red;
} 

.slider div h1 {
    color: white;
    font-size: 50px;
    font-weight: 100;
}

.slider div h2 {
    color:white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
}

.slider div .contact a {
    color: white;
    text-decoration: none;
}

.img {
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.content a {
    margin-top: 25px;
}

.slider .content .contact {
    margin-top: 25px;
}

.slider .content .contact span {
    color: white;
    margin-right: 30px;
    margin-left: 30px;
}

.about-us {
    padding: 111px;
}

.about-us h1 {
    color: #171717;
    font-size: 30px;
    font-family: 'MyriadPro', sans-serif;
    text-align: center;
    font-weight: 100;
}

.about-us > p {
    font-size: 20px;
    font-family: 'MyriadPro', sans-serif;
    text-align: center;
    font-weight: 100;
    margin-top: 45px;
    margin-bottom: 80px;
}

.about-us .boxes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;              
}

.about-us .boxes div {
    border: 1px solid #b7b7b7;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
    width: 380px;
    padding-right: 30px;
    padding-left: 30px;
}

.about-us .boxes h5 {
    font-size: 22px;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 100;
    color: #5c5c5c;
}

.about-us .boxes p {
    font-size: 20px;
    font-family: 'MyriadPro', sans-serif;
    font-weight: 100;
    color: #5c5c5c;
}

.about-us .boxes .call {
    background-color: #f0eeee; 
}

.line {
    width: 83px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(255, 5, 5);
    margin: 1em 0;
    padding: 0;
    margin: auto;
}

.our-skill {
    padding-top: 115px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 110px;
    background-color: #f6f6f6;
}

.our-skill .line {
    margin-left: 0px;
    width: 148px;
    margin-top: 40px;
}

.our-skill h1 {
    color: #171717;
    font-family: 'MyriadPro', sans-serif;
    font-size: 30px;
}

.our-skill p {
    color: #4a4a4a;
    font-family: 'MyriadPro', sans-serif;
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.our-skill .borders {
    border-radius: 12px;
    height: 15px;
    background: #cfcfcf;
    overflow: hidden;
}

.our-skill .borders .round {
    height: 15px;
    background: red;
    border-radius: 12px;
}

.our-skill .borders .round1 {
    width: 80%;
}

.our-skill .borders .round2 {
    width: 90%;
}

.our-skill .borders .round3 {
    width: 70%;
}

.our-skill .borders .round4 {
    width: 70%;
}

.our-skill .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-skill .row .chart {
    width: 100%;
    margin-right: 165px;
}

.our-skill .row .chart:last-child {
    margin-right: 0;
}

.text {
    background-color: #888888;
    padding-top: 190px;
    padding-bottom: 107px;
    padding-right: 130px;
    padding-left: 130px;
}

.text p {
    position: relative;
    text-align: center;
    font-size: 22px;
    color: white;
    font-family: Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.text p:before{
    content: url('./images/quote.png');
    position: absolute;
    left: -50px;
    top: -45px;
}

.service {
    background-color: white;
    padding: 110px 165px;
}

.service h1 {
    font-family: Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
    color: #171717;
    font-weight: 100;
    margin-bottom: 35px;
}

.service .line {
    width: 82px;
}

.service .customer:first-of-type {
    margin-top: 80px;
}

.service .customer:last-of-type {
    margin-top: 85px;
}

.service .customer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service .customer .customer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.service .customer .customer-header img {
    margin-right: 20px;
}

.service .customer .customer-header {
    height: 70px;
}

.service .customer .customer-header p {
    font-family: 'MyriadPro', sans-serif;
    font-size: 17px;
    color: #000000;
    margin-top: 30px;
}

.service .customer .customer-header span {
    font-family: 'MyriadPro', sans-serif;
    font-size: 18px;
    color: #959595;
}

.service .customer1 {
    margin-right: 100px;
}

.service .customer2 {
    margin-right: 100px;
}

.service .customer3 {
    margin-right: 100px;
}

.service .customer4 {
    margin-right: 100px;
}

.service .customer5 {
    margin-right: 100px;
}

.portfolio {
    background-color: #f6f6f6;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-right: 130px;
    padding-left: 130px;
}

.portfolio h5 {
    font-family: 'MyriadPro', sans-serif;
    font-size: 30px;
    color: #171717;
    text-align: center;
    font-weight: 100;
}

.portfolio .line {
    margin-bottom: 80px;
}

.portfolio .all {
    border: 1px solid red;
    border-radius: 35px;
    width: 745px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;  
    margin-left: 200px;
    margin-bottom: 75px;
}

.portfolio .all button {
    width: 25%;
    background:  #f6f6f6;
    color:#171717;
    font-family: 'MyriadPro', sans-serif;
    border: 1px solid red;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.portfolio .all button:first-child {
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.portfolio .all button:last-child {
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.portfolio .all .active {
    color: #fff;
    background-color:#f00;
}

.portfolio .container .row .box {
    background-color: #cecece;
    height: 360px;
    width: 360px;
    margin-right: 30px;
}

.portfolio .container .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

.portfolio .container .row:first-child {
    margin-bottom: 30px;
}

.portfolio .container .row .box:last-child {
    margin-right: 0px;
}

.portfolio .container .row .box p {
    color: #fff;
    font-size: 30px;
    font-family: 'MyriadPro', sans-serif;
    margin-top: 55px;
}

.portfolio .portofolio-slider .container .row .box.mobile {
    background-color: #676767;
    text-align: center;
}

.portfolio .portofolio-slider .container .row .box.mobile img {
    margin-top: 120px;
    font-size: 65px;
    display: inline-block;
}

.portfolio .portofolio-slider .slick-dots li button {
    height: 10px;
    width: 50px;
}


.portfolio .portofolio-slider .slick-dots li button:before {
    font-size: 0px;
    line-height: 0;
    display: block;
    width: 49px;
    height: 9px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 1px solid #595959;
    outline: none;
    background: transparent;
    opacity: 1;
}

.portfolio .portofolio-slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 10px;
    margin: 0 15px;
    padding: 0;
    cursor: pointer;
}

.portfolio .portofolio-slider .slick-dots {
    bottom: -80px;
}

.portfolio .portofolio-slider .slick-dots .slick-active {
    background-color: #FF0000;
}

.portfolio .portofolio-slider .slick-dots .slick-active button:before {
    border: none;
} 

.statistics {
    background-color: #525252;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 130px;
}

.statistics .numbers p {
    font-size: 40px;
    font-family: Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
    color: #fff;
    margin: 0px;
    margin-bottom: 27px;
}

.statistics .numbers h6 {
    font-family: 'MyriadPro', sans-serif;
    font-size: 22px;
    color: #fff;
    font-weight: 100;
    margin: 0px;
}

.statistics .numbers {
   text-align: center;
}

.statistics .numbers:nth-child(2) p,
.statistics .numbers:nth-child(2) h6 {
    color: #f00;
}

.contact-us {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #ffffff;
}

.contact-us p {
    font-family: 'MyriadPro', sans-serif;
    color: #171717;
    font-size: 30px;
    margin-bottom: 40px;
}

.contact-us hr {
    margin-bottom: 80px;
}

.contact-us .line {
    margin-left: 0px;
}

.contact-us form .input {
    width: 90%;
    margin-right: 65px;
}

.contact-us form .input input[type="text"] {
    width: 290px;
    height: 30px;  
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #b7b7b7;
    padding: 10px 20px; 
}

.contact-us form .input input:last-of-type {
    float: right;
}

.contact-us form .input .send input {
    margin-top: 30px;
    width: 115px;
    height: 60px;
    background-color: #464646;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    float: left;
}

.contact-us form .input .textarea textarea {
    margin-top:40px;
    height: 130px;
    width: 650px;
    border-radius: 5px;
    font-size: 15px;
    padding: 25px 20px;
}

.contact-us form {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.contact-us .text-content {
    border-left: 1px solid #464646;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-us form .text-content p, h2 {
    margin-left: 30px;
    font-size: 20px;
    font-family: 'MyriadPro', sans-serif;
    color: #161616;
    font-weight: 100;
}

.contact-us form .text-content p {
    margin-bottom: 55px;
    margin-top: 0px;
}

.contact-us form .text-content h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.social-media {
    padding: 110px 130px;
    background-color: #232323;
}

.social-media .title {
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-media .title img {
    height: 60px;
    margin-bottom: 40px;
} 

.social-media .title span {
    color: #f00;
}

.social-media .title h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 100;
    margin-top: 0px;
    margin-left: 10px;
}

.social-media .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.social-media .social-icons img {
    margin-right: 40px;
}

.social-media .social-icons img:last-child {
    margin-right: 0px;
}

.social-media p {
    font-size: 20px;
    font-family: 'MyriadPro', sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
}

.social-media .social-icons p, span {
    color: #f00;
}